<!DOCTYPE html>
<html>
  <link rel="styleSheet" href="../public/styles.css" />
  <body>
    <div class="navBar">
        <img src="../public/Logo_GTO.png" alt="logo" width="100px" />
        <h1>Great Teacher Onizuka</h1>
      </div>
      <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/Works">Son travail</a></li>
            <li><a href="/About">Qui est-il?</a></li>
            <li><a href="/PhotoGallery">Galerie photos</a></li>
          </ul>
        </nav>
        <div class="About">
    <div class="grid">
    <div class="gridGTO">
        <div>
            <img src="../public/gto-smoking-audris-apsarini-removebg-preview.png" width="300px" alt="photoEikichi" />
          </div>
      <div class="descriptifGridGTO">
                <h1>Qui est-il?</h1>
        <p>
          <b>Eikichi Onizuka</b> (鬼塚 英吉 <i>Eikichi Onizuka</i>) est
          professeur qui a 22 ans au passé douteux qui est nommé pour son
          premier poste dans une classe difficile ; il montre rapidement une
          vision de l'enseignement totalement décalée avec les pratiques
          habituelles. Ses réactions anticonformistes et directes, souvent
          humoristiques, sont l'axe central de cette série. Il va évoluer avec
          cette classe, dont la spécialité est de faire craquer moralement leurs
          professeurs, en tentant de la rallier peu à peu à sa cause. Il est le
          personnage principal de GTO, Young GTO, GTO Shonan 14 days ainsi que
          GTO Paradise Lost.
        </p>
      </div>
   
    </div>
    <div class="gridGTO">
      <div class="descriptifGridGTO">
        <h1>Apparence</h1>
        <p>
          Onizuka a une grande taille, avec des yeux bruns, des cheveux décoloré
          et des oreilles percées. Eikichi est un fumeur qui allume cigarette
          sur cigarette, rarement vu sans une cigarette dans sa bouche.
          Contrairement à dans d'autres dessins animés où la tenue vestimentaire
          est gardée, les habits d'Onizuka changent constamment. Il est bien
          connu pour avoir une large variété de costumes. Eikichi a des
          capacités physiques très développées. il peut soulever 150 kg. Il est
          deuxième Dan de karaté et en a remporté un championnat lorsqu'il était
          au collège ( équivalence de l'université ). Il a déclaré plusieurs
          fois qu'il suit une routine de formation quotidienne qui inclut 500
          pompes, 1000 tractions et 10000 Squat indien.
        </p>
        <p>
          La force anormale d'Eikichi est montrée dans diverses parties tout au
          long du manga ; petit sa force effrayante est utilisée pour résoudre
          beaucoup de ses problèmes aussi bien que ceux de ses élèves. Onizuka a
          aussi un organisme extrêmement endurant, il survit a plusieurs sauts
          du toit de l’école pour sauver des étudiants et un autre professeur.
          On le voit toujours se promener avec sa moto (un Kawasaki 750
          Étoile(Star) de Route z2), portant parfois ses étudiants; en restant
          passionné par les motos depuis son expérience comme co-leader de son
          gang de motard, l'Onibaku.
        </p>
      </div>
      <div>
        <img src="../public/images-removebg-preview.png" width="200px" alt="photoEikichi" />
      </div>
    </div>
    <div class="gridGTO">
        <div>
            <img src="../public/téléchargement__1_-removebg-preview.png" width="150px" alt="photoEikichi" />
          </div>
      <div class="descriptifGridGTO">
        <h1>Histoire</h1>
        <p>
          Au tout début du manga, il n'effectue qu'un simple remplacement,
          durant le tome 1 et 1er chapitre du tome 2. Dans l'anime, le
          remplacement est transformé en stage de deux semaines.
        </p>
        <p>
          On sait ensuite qu'il souhaite réellement devenir prof quand il
          apprend qu'il vient de rater les examens d'admission des écoles
          publiques. Mais une connaissance lui confie que les examens du privé,
          eux, ne sont pas passés. C'est ainsi qu'il va essayer de passer celui
          de l'établissement privé de Tokyo "Kissho".
        </p>
        <p>
          Après avoir raté l'embauche, il décide de devenir routier et trouve un
          patron aussitôt. Et soudain, alors qu'il est sur l'autoroute, il
          repart à Kissho en défonçant la barrière, là où la secrétaire de cette
          école l'attendait, lui confirmant qu'il était admis en tant que
          professeur à la condition qu'il y habite.
        </p>
      </div>

    </div>
</div>
</div>
  </body>
</html>
