<!DOCTYPE html>
<html>
  <link rel="styleSheet" href="../public/styles.css" />
  <body>
    <div class="navBar">
      <img src="../public/Logo_GTO.png" alt="logo" width="100px" />
      <h1>Great Teacher Onizuka</h1>
    </div>
    <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/Works">Son travail</a></li>
          <li><a href="/About">Qui est-il?</a></li>
          <li><a href="/PhotoGallery">Galerie photos</a></li>
        </ul>
      </nav>
    <div class="displayCenter">
      <div class="imgOnizuka">
        <img src="../public/Onizuka.png" alt="Onizuka" width="500px" />
        <h4>
          « Moi , Eikichi Onizuka , 22 ans , celibataire et libre comme l’air !
          »
        </h4>
      </div>
      <div class="descriptionGTO">
        <h1>Le fameux GTO : Great Teacher Onizuka</h1>
        <section>
          GTO c’est aussi des belles leçons de vie à des jeunes qui manquent
          cruellement d’éducation ou de bon sens. Comment ne pas retenir les
          enseignements d’Onizuka ?
        </section>
        <a href="/About">Plus d'info ?</a>
      </div>
    </div>
  </body>
</html>
