<!DOCTYPE html>
<html>
  <link rel="styleSheet" href="../public/styles.css" />
  <body>
    <div class="navBar">
        <img src="../public/Logo_GTO.png" alt="logo" width="100px" />
        <h1>Great Teacher Onizuka</h1>
      </div>
      <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/Works">Son travail</a></li>
            <li><a href="/About">Qui est-il?</a></li>
            <li><a href="/PhotoGallery">Galerie photos</a></li>
          </ul>
        </nav>
        <div class="imageGTO">
            <img src="../public/Photo1.jpeg" alt="logo" width="200px" />
            <img src="../public/Photo2.jpeg" alt="logo" width="200px" />
            <img src="../public/Photo3.jpeg" alt="logo" width="200px" />
            <img src="../public/Photo4.jpeg" alt="logo" width="200px" />
            <img src="../public/Photo5.jpeg" alt="logo" width="200px" />
            <img src="../public/Photo6.jpeg" alt="logo" width="200px" />
            <img src="../public/Photo7.jpeg" alt="logo" width="200px" />
            <img src="../public/Photo8.jpeg" alt="logo" width="200px" />
            <img src="../public/Photo9.jpeg" alt="logo" width="200px" />
            <img src="../public/Photo10.jpeg" alt="logo" width="200px" />

        </div>

  </body>
</html>