<!DOCTYPE html>
<html>
  <link rel="styleSheet" href="../public/styles.css" />
  <body>
    <div class="navBar">
      <img src="../public/Logo_GTO.png" alt="logo" width="100px" />
      <h1>Great Teacher Onizuka</h1>
    </div>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/Works">Son travail</a></li>
        <li><a href="/About">Qui est-il?</a></li>
        <li><a href="/PhotoGallery">Galerie photos</a></li>
      </ul>
    </nav>
    <div class="descriptifGridGTO">
      <h1>Son travail</h1>
      <p>
        Eikichi Onizuka, 22 ans, ancien voyou, ne sait pas vraiment quoi faire
        de sa vie. Quand il cherche du travail: il cite son casier judiciaire
        dans sa lettre de motivation, ce qui n'est pas la meilleure méthode pour
        se faire embaucher. Un de ses plans favoris: se poster en dessous des
        escalators du centre commercial pour regarder sous les jupes des filles.
        Un jour, il se fait acoster par une jeune lycéenne. Apres lui avoir fait
        croire qu'il était un grand auteur de série télé, qu'il possédait une
        porsche, apres avoir échangé sa paire de Air Max contre une BMW (j'adore
        ce mec lol), et en gros apres avoir tout tenté pour la séduire, la jeune
        lycéenne lui échappe, et tombe dans les bras de son professeur, vieux,
        petit, chauve... Telle fut la révélation pour Onizuka: Il allait devenir
        enseignant pour pouvoir avoir la cote aupres des lycéennes. Comme chacun
        sait, le métier de professeur est difficile. Mais pas pour Onizuka, qui
        a ses propres méthodes d'enseignements.
      </p>
    </div>
    <img class="GTObike" src="/public/bikeGTO-removebg-preview.png" width="500px" alt="GTObike" />
  </body>
</html>
